@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.atalanta{ background: #0471BC; color: #fff; border: 1px solid  #000; }
.bologna{ background: #EE3D25; color: #2E3192; border: 1px solid  #E7D210; }
.cagliari{ background: #E51643; color: #012350; border: 1px solid  #012350; }
.empoli{ background: #407DBF; color: #fff; border: 1px solid  #143459; }
.fiorentina{ background: #B73AA3; color: #fff; border: 1px solid  #E7D210; }
.genoa{ background: #F4475B; color: #014294; border: 1px solid  #014294; }
.inter{ background: #0232A3; color: #fff; border: 1px solid  #000; }
.juventus{ background: #fff; color: #000; border: 1px solid  #000; }
.lazio{ background: #A4DCF4; color: #87B9E0; border: 1px solid  #87B9E0; }
.milan{ background: #EC1D2F; color: #fff; border: 1px solid  #000; }
.napoli{ background: #62B3E5; color: #fff; border: 1px solid  #2551A5; }
.roma{ background: #E12A58; color: #F89F26; border: 1px solid  #000; }
.salernitana{ background: #841D1C; color: #fff; border: 1px solid  #ECAA23; }
.sampdoria{ background: #176DB3; color: #fff; border: 1px solid  #CE0E24; }
.sassuolo{ background: #10A653; color: #1E1E1C; border: 1px solid  #000; }
.spezia{ background: #fff; color: #000; border: 1px solid  #A79565; }
.torino{ background: #CA3134; color: #fff; border: 1px solid #fff; }
.udinese{ background: #000; color: #fff; border: 1px solid  #000; }
.venezia{ background: #000; color: rgb(255, 106, 7); border: 1px solid  rgb(1, 151, 46); }
.verona{ background: #ffed66; color: #002E70; border: 1px solid  #002E70; }

.player-data-avg .label{ 
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    padding-top: 1em;
    color: #333;
}
.player-data-avg .value{
    display: block;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1em;
    color: #333;
}

.dataTables_wrapper .dataTables_filter label{
    font-size: 0.8em;
    line-height: 1em;
}
.dataTables_wrapper .dataTables_filter input{
    font-size: 0.8em;
    line-height: 1em;
}
.dataTables_wrapper .dataTables_length label{
    font-size: 0.8em;
}
.dataTables_wrapper .dataTables_length select{
    line-height: 1em;
    padding: 4px 15px 4px 4px;
    font-size: 0.8em;
    background-position: right 0rem center;
}
table.dataTable.display tbody td { font-size: 0.9em; }